<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %>
<img src="/assets/images/ZhurbaLogo.png" width="20%" height="20%" alt="Logo">
<!--Lyudmila Zhurba-->
<!--301250531-->
<!--June 1, 2022-->
<!--About me page-->


<div class="d-flex">
    <div class="align-items-start p-3 w-25">
        <img src="assets/images/zhurbaphoto.jpg" class="rounded img-thumbnail" alt="Picture">
    </div>
    <div class="flex-grow-1 p-3">
        <p class="display-5">My name is Lyudmila Zhurba, </p>
        <p class="display-6">I am a first year student at Centennial Collage.</p>
        <p class="display-6">I am interested in Web Development, QA testing and Mobile Development.</p>
        <p class="display-6">I like camping, swimming and hiking in Ontario forests!</p>
        <a class="btn btn-primary btn-lg btn btn-secondary" href="/contact" role="button" >Contact me</a>
    </div>
    
</div>




<!--including footer partials-->
<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>