<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %> 
<img src="/assets/images/ZhurbaLogo.png" width="20%" height="20%" alt="Logo">
<!--Lyudmila Zhurba-->
<!--301250531-->
<!--June 1, 2022-->
<!--Contact me page-->
<div class="container">]
    <div class=" text-center mt-5 ">

        <h1>Contact Me</h1>           
        
    </div>

<div class="row ">
  <div class="col-lg-7 mx-auto">
    <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
   
        <div class = "container">
             <form id="contact-form" role="form">       

        <div class="controls">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_name">First name </label>
                        <input id="form_name" type="text" name="name" class="form-control">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_lastname">Last name </label>
                        <input id="form_lastname" type="text" name="surname" class="form-control"  >
                                                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Email </label>
                        <input id="form_email" type="email" name="email" class="form-control" >
                    </div>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_message">Message </label>
                        <textarea id="form_message" name="message" class="form-control"  rows="4" required="required" data-error="Please, leave us a message."></textarea
                            >
                        </div>

                    </div>


                <div class="col-md-12">
                    
                    <a class="btn btn-primary btn-lg btn btn-secondary" href="/" role="button" >Send</a>
            </div>
      
            </div>


    </div>
     </form>
    </div>
        </div>


</div>
    <!-- /.8 -->

</div>
<!-- /.row-->

</div>
</div>


<!--including footer partials-->
<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>