<!--including header partials-->
<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %> 

<!--Lyudmila Zhurba-->
<!--301250531-->
<!--June 1, 2022-->
<!--Home page-->

<div class="jumbotron text-center">
  <h1 class="display-6">Welcome to my first Website!</h1>
  <img src="/assets/images/ZhurbaLogo.png" width="20%" height="20%" alt="Logo">
  
    <a class="btn btn-primary btn-lg btn btn-secondary" href="/about" role="button" >Learn more about me!</a>
  </p>
</div>


<!--including footer partials-->
<%- include partials/bottom_nav.ejs %> 
  
<%- include partials/footer.ejs %>
